body {
	background-image: url(../Images/auto_background_2.png);
	background-repeat: no-repeat;
}

.wrapper {
	display: grid;
	grid-template-columns: 150px auto;
	grid-gap: 10px;
	grid-auto-rows: 100px 250px auto;
}

.title_bar {
	grid-column: 2 / 6;
	grid-row: 1;
	background-color: black;
	color: white;
	font-family: Helvetica;
	font-size: 30pt;
	padding-top: 25px;
	padding-left: 10px;
}

.side_bar {
	grid-column: 1;
	grid-row: 2;
	font-family: Helvetica;
	background-color: lightblue;
	color:black;
	padding-left: 5px;
	padding-top: 5px;
}

.main_grid {
	grid-column: 2/6;
	grid-row: 2/4;
	font-family: Helvetica;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #FFF9C3;
}

a {
	text-decoration: none;
	line-height: 1.8;
}

a:link {
	color: #000000;
}

a:visited {
	color: #555555;
}

a:hover {
	color: #ffffff;
}